*.swp
*.class

minecraftforge-src-1.6.4-9.11.0.884.zip
minecraftforge-installer-1.6.4-9.11.0.884.jar
eclipse/Minecraft/bin/*
eclipse/aeir_mod/bin/*
eclipse/.metadata/*
eclipse/logs
eclipse/crash-reports
forge/*
forge-1.6.4-9.11.0.884*
